# Virtual environment
.venv/

# Environment variables / secrets
.env

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / editor files
.vscode/
.idea/

# OS-specific files
.DS_Stor.venv/
.enve
Thumbs.db
